# PostgreSQL / Cloud SQL
SQL_HOST=""
SQL_USER=""
SQL_PASSWORD=""
SQL_ADMIN_USER=""
SQL_ADMIN_PASSWORD=""
SQL_DB_NAME=""

# Public application address
APP_URL="http://localhost:3000"

# Production runtime
NODE_ENV="development"
